<template>
  <div class="index">
    <van-notice-bar
      text="面向广大用户开发语音识别技术，采用的在线转换技术，识别率达到90%，让您的文字绘“声”绘色"
      left-icon="volume-o"
      mode="closeable"
    />
    <div class="header">
      <van-icon name="setting-o" @click="leftPanelTog"/>
      <p class="title">{{ msg }}</p>
      <van-icon name="user-o" @click="rightPanelTog"/>
    </div>
    <van-swipe :autoplay="3000" indicator-color="white">
      <van-swipe-item>
        <img class="swiper-img" src="../assets/img/trans_1.png" alt="">
      </van-swipe-item>
      <van-swipe-item>2</van-swipe-item>
    </van-swipe>
    <van-popup v-model="rightPanel" position="right">
      <van-button plain type="primary"  @click="rightPanelTog">关闭右侧弹层</van-button>
    </van-popup>
    <van-popup v-model="leftPanel" position="left">
      <van-button plain type="primary"  @click="leftPanelTog">关闭右侧弹层</van-button>
    </van-popup>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: '迅捷语音云',
      msgs: 'some menu to mobile',
      rightPanel: false,
      leftPanel: false
    }
  },
  methods: {
       tips(){
         const toast = this.$toast.loading({
            duration: 0,       // 持续展示 toast
            forbidClick: true, // 禁用背景点击
            loadingType: 'spinner',
            message: '倒计时 3 秒'
          });

          let second = 3;
          const timer = setInterval(() => {
            second--;
            if (second) {
              toast.message = `倒计时 ${second} 秒`;
            } else {
              clearInterval(timer);
              this.$toast.clear();
            }
          }, 1000);
       },
       rightPanelTog(){
         this.rightPanel = !this.rightPanel
       },
       leftPanelTog(){
          this.leftPanel = !this.leftPanel
       }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.index{
  .header{
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    background-color: #3988ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    .title{
      color: #FFF;
      font-size: 17px;
    }
    i{
      color: #FFF;
      font: 25px;
    }
  }
  .swiper-img{
    width: 100%;
    height: 150px;
  }
}
.van-popup--right, .van-popup--left{
   width: 100%;
   height: 100%;
}
</style>
