<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>{{ programs }}</p>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;
  @Prop() private programs!: string;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.hello{
  h1{
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    user-select: none;
  }
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
