<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h5><%= title %></h5>
    <div>ccccccc</div>
</body>
</html>