<template>
  <div class="about">
    <img src="../assets/image/icon_logo1.png" alt="app logo">
    <h1>{{ msg }}</h1>
    <p>{{ version }}</p>
    <div class="type">
         <a >问题反馈</a>
         <a >在线客服</a>
         <a >400-888-2560</a>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class About extends Vue {
  private msg: string = '迅捷文字转语音';
  private version: string = '版本号： V2.0.1.1';

}
</script>
<style lang="scss" scoped>
.about{
  padding-top: 30vh;
  h1{
    font-size: 18px;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    color: #333333;
    margin-bottom: 9px;
  }
  p{
    font-size: 12px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    color: #666666;
  }
  .type{
    border-top: 1px solid #d1e3f7;
    text-align: center;
    margin-top: (40vh);
    padding-top: 20px;
    a{
      display: inline-block;
      margin-right: 15px;
      font-size: 12px;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      user-select: none;
      color: #0479f6;
      cursor: pointer;
    }
  }
}
</style>

