<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/image/icon_logo.png">
    <HelloWorld msg="迅捷文字转语音" programs=" (TypeScript DEMO)"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from '@/components/HelloWorld.vue'; // @ is an alias to /src
import * as domain from '../assets/ts/env';
@Component({
  components: {
    HelloWorld,
  },
})
export default class Home extends Vue {
  private msg = 'this is start';
  // 生命周期
  private created(): void {
    console.log(domain.baseData.baseUrl, domain.baseData.env);
  }
}
</script>

<style lang="scss" scoped>
.home{
  padding-top: 10vh;
  img{
    margin-bottom: 15px;
  }
}
</style>

