<template>
  <div class="login">
    <h1>{{ msg }}</h1>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';


@Component
export default class Login extends Vue {
   private msg: string = 'login page';
}
</script>
<style lang="scss" scoped>
.login{
  h1{
    color: #42b983;
  }
}
</style>

